.header {
  text-align: center;
  font-size: 18px;
}

.content {
  text-align: center;
  color: #50a14f;
  margin: auto;
  font-size: 16px;
}

.TableHeader {
  font-size: 20px;
  padding-left: 0em;
  font-weight: bold;
}

.table-responsive {
  border-radius: 4px !important;
}

th {
  white-space: nowrap;
  background-color: #62a3e6;
}

tr {
  background-color: rgb(238, 238, 238);
}

.table th,
.table td {
  vertical-align: middle;
  text-align: center;
}

.clearAll {
  margin-left: 10px;
}

.costAndCredit {
  font-size: 15px;
  font-weight: bold;
}

.btn-primary {
  color: #fff;
  background-color: #2e83de;
  border-color: #2e83de;
}

.fa {
  padding-right: 6px;
}
